.App {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.toolbar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.toolbar > div {
  margin-bottom: 15px;
}

.downloadPdfButton {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  background-color: rgb(230, 86, 76);
}
.downloadPdfButton > a {
  text-decoration: none;
  color: white;
}

.inputField {
  display: flex;
  flex-direction: column;
}
.inputField label {
  margin-bottom: 2px;
}
.inputField input {
  padding: 10px 16px;
  font-size: 18px;
}

.companyTabs {
  display: flex;
  padding-bottom: 30px;
}

.companyTab {
  margin: 0 10px;
  width: 50%;
  padding: 10px;
  opacity: 0.5;
  border-bottom: 2px solid rgb(230, 86, 76);
  cursor: pointer;
}

.companyTab.active {
  opacity: 1;
}

.main {
  min-width: 760px;
  max-width: 760px;
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
